body {
    margin: 0;
    font-size: 20px;
    text-align: center;
    
    
}
#menu {
    display: inline-block
    width: 100%;
    background-color: black
}
#menu > ul {
    margin: 0;
    padding: 25px;
    
}

.menu__item {
    display: inline-block;
    text-align: center;
    text-decoration: none
}


nav#menu > ul > li.menu__item > a {
    color: white;
    text-decoration: none;
    font-family: Lato;
}

.header__header--main > img {
    display: block
    object-fit: contain;
    position: relative;
        width: 100%;
        height: 100%;

}

.header__title--main {
    color: white;
    position: relative;
    bottom: 500px;
    text-transform: uppercase
}